astroid==3.2.4
git+http://github.com/Wilmer-Maldonado/etc7fq_journal_DS5111su24@v0.0.3
dill==0.3.8
iniconfig==2.0.0
isort==5.13.2
mccabe==0.7.0
packaging==24.1
platformdirs==4.2.2
pluggy==1.5.0
pylint==3.2.6
pytest==8.3.2
tomlkit==0.13.0
pip==24.2
setuptools==72.1.0
